  {{> nav/nav-block }}
  
  {{#if dbSavedNews}}
    {{#each dbSavedNews}} 
      <div class="card bg-light mb-3" data-id={{_id}}>
        <div class="card-header">{{headline}}</div>
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.nytimes.com{{url}}" target="blank">https://www.nytimes.com{{url}}</a></h5>
            <p class="card-text">{{summary}}</p>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-md btn-info font-weight-bold my-2 my-sm-0 mr-2 addNotes" data-id={{_id}}>Add Notes</button>
              <button class="btn btn-md btn-danger font-weight-bold my-2 my-sm-0 mr-2 deletesaved" data-id={{_id}}>Delete from saved</button>
            </form>
        </div>
      </div>
    {{/each}} 
  {{/if}}
 
  {{> scrape/scrape-block }}

  {{> modal/confirmscrape-block }}

  {{> modal/save-block }}

  {{> modal/addnotes-block  }}
  
  